body{
    background-color: #1a222e;
}
.menuservicos{
    -webkit-text-fill-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.titulo{
    -webkit-text-fill-color: white;
}
.menuservicos input{
    display: inline-block;    
}
.menuservicos label{
    margin-left: 5px;
    cursor: pointer;
}
.info{
    display: inline-block;
}
.busca:checked ~ .conteudo .busca{
    display: block;
}
.entrarcontat{
    width: 500px;
    height: 500px;
    text-align: center;
    -webkit-text-fill-color: white;
    margin-top: 200px;
    background-image: url("https://estaticos.animaeducacao.com.br/medias/20250514152622/-_Imagem_-_An%C3%A1lise_e_Desenvolvimento_de_Sistemas_o_que_faz_o_profissional.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left:400px;
    margin-right:400px;
    margin-top: 200px;
    margin-bottom: 50px;
    border-radius: 40px;
}
.entrarcontat label{
    display: block;
    margin-bottom: 10px;
}
.botaocontat{
    background-color: #216239;
    padding-top: 5px;
    padding-bottom: 5px;
    display:inline-block;
}
.botaocontat a{
    text-decoration: none;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}
.containersevicos{
    gap: 50px;
    margin: 0 auto;
}