body{
    background-color: #1a222e;
}
.menu{
    -webkit-text-fill-color: white;
}
.titulo{
    -webkit-text-fill-color: white;
}
.menu label{
    display: inline-block;
    margin-block: 10px;
}
.entrarcontat{
    text-align: center;
    -webkit-text-fill-color: white;
    margin-top: 200px;

}