

.header {
  background: linear-gradient(90deg, rgb(158, 158, 158) 0%, rgb(255, 255, 255), 50%, rgb(156, 156, 156) 100%);
  color: white;
}

.container {
    width: 90%;
    max-width: 1700px;
    margin: 0 auto;
}

.logo img {
  height: 100px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.menu a {
  text-decoration: none;
  color: rgb(83, 82, 82);
  transition: 0.3s;
}

.menu a:hover {
  color: #00bfff;
}



/* calma ai agora, vou de body */

.servicos{
  padding-top: 150px;
  padding-bottom: 150px;
  margin-top: 100px;
  background-color: #1E2836;
}

body {
  background-color: #1E2836;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}

.button-hero{
  background-color: rgb(35, 73, 145);
  color: white;
  border: none;
  padding: 14px 28px;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
  
}

.hero {
    background-image: url(../imgs/giffundo.gif);
    background-size: cover;
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 100px;
}

.hero-texto{
  max-width: 400px;
}

.hero-texto h1{
  font-size: 48px;
}

.hero-texto p{
  font-size: 18px;
  opacity: 0.8;
}

.hero-img {
    width: 900px;
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0px 20px 40px rgba(0,0,0,0.4));
}

.footer {
    background-color: rgb(53, 53, 53);
    color: aliceblue;
    padding: 30px 20px;
}

.text {
    font-family: "Roboto" sans-serif;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.language-selector {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer
}

.flag{
  width: 24px;
  height: 16px;
  object-fit: cover;

}

.arrow {
  font-size: 16px;
  color: white;
}